<html lang="en"><head></head><body><form id="mainForm" method="post" action="http://plnkr.co/edit/?p=preview" target="_self"><input type="hidden" name="files[app/app.component.ts]" value="import { Component } from 'angular2/core';
import { HTTP_PROVIDERS } from 'angular2/http';
import { RouteConfig, ROUTER_DIRECTIVES, ROUTER_PROVIDERS } from 'angular2/router';

import { CharactersComponent } from './characters.component';
import { DashboardComponent } from './dashboard.component';
import { CharacterService } from './character.service';

@Component({
  selector: 'my-app',
  template: `
    <a [routerLink]=&quot;['Dashboard']&quot;>Dashboard</a>
    <a [routerLink]=&quot;['Characters']&quot;>Characters</a>
    <router-outlet></router-outlet>
    `,
  directives: [ROUTER_DIRECTIVES],
  providers: [HTTP_PROVIDERS, ROUTER_PROVIDERS, CharacterService]
})
@RouteConfig([
  { path: '/dashboard', as: 'Dashboard', component: DashboardComponent, useAsDefault: true },
  { path: '/characters', as: 'Characters', component: CharactersComponent }
])
export class AppComponent { }
"><input type="hidden" name="files[app/boot.ts]" value="import { bootstrap } from 'angular2/platform/browser';

import { AppComponent } from './app.component';

bootstrap(AppComponent);"><input type="hidden" name="files[app/dashboard.component.ts]" value="import { Component } from 'angular2/core';

@Component({
  selector: 'my-dashboard',
	template: `
		<h2>Dashboard</h2>
		<div>Hello {{name}}</div>
		<input [(ngModel)]=&quot;name&quot; />
		<button (click)=&quot;sayHello()&quot;>Say Hello</button>
		<p>{{message}}</p>
	`
})
export class DashboardComponent {
	name = 'john';
	message = '';

	sayHello() {
		this.message = 'Hello ' + this.name + '!';
	}
}
"><input type="hidden" name="files[app/character.service.ts]" value="import { Injectable } from 'angular2/core';
import { Http, Response } from 'angular2/http';
import { Observable, Subscription } from 'rxjs';
import 'rxjs/add/operator/map';

import { Character } from './character.service';

@Injectable()
export class CharacterService {
  constructor(private _http: Http) { }

  getCharacters() {
    let observable = this._http.get('app/characters.json')
      .map(function(response: Response) {
        return <Character[]>response.json();
      });

    return observable;
  }
}

export interface Character {
	id: number;
	name: string;
}
"><input type="hidden" name="files[app/characters.json]" value="[
  {
    &quot;id&quot;: 11,
    &quot;name&quot;: &quot;General Hux&quot;
  },
  {
    &quot;id&quot;: 12,
    &quot;name&quot;: &quot;Rey&quot;
  },
  {
    &quot;id&quot;: 13,
    &quot;name&quot;: &quot;Finn (FN2187)&quot;
  },
  {
    &quot;id&quot;: 14,
    &quot;name&quot;: &quot;Han Solo&quot;
  },
  {
    &quot;id&quot;: 15,
    &quot;name&quot;: &quot;Leia Organa&quot;
  },
  {
    &quot;id&quot;: 16,
    &quot;name&quot;: &quot;Luke Skywalker&quot;
  },
  {
    &quot;id&quot;: 17,
    &quot;name&quot;: &quot;Poe Dameron&quot;
  },
  {
    &quot;id&quot;: 18,
    &quot;name&quot;: &quot;Kylo Ren&quot;
  },
  {
    &quot;id&quot;: 19,
    &quot;name&quot;: &quot;Supreme Commander Snoke&quot;
  },
  {
    &quot;id&quot;: 20,
    &quot;name&quot;: &quot;R2-D2&quot;
  },
  {
    &quot;id&quot;: 21,
    &quot;name&quot;: &quot;BB8&quot;
  },
  {
    &quot;id&quot;: 22,
    &quot;name&quot;: &quot;C-3PO&quot;
  },
  {
    &quot;id&quot;: 23,
    &quot;name&quot;: &quot;Maz Kanata&quot;
  },
  {
    &quot;id&quot;: 24,
    &quot;name&quot;: &quot;Captain Phasma&quot;
  },
  {
    &quot;id&quot;: 25,
    &quot;name&quot;: &quot;Chewbacca&quot;
  }
]
"><input type="hidden" name="files[app/characters.component.ts]" value="import { Component, OnInit } from 'angular2/core';
import { Router } from 'angular2/router';
import { Observable, Subscription } from 'rxjs';

import { Character, CharacterService } from './character.service';

@Component({
  selector: 'my-characters',
  templateUrl: 'app/characters.component.html',
  styleUrls: ['app/characters.component.css']
})
export class CharactersComponent implements OnInit {
  characters:Observable<Character[]>;
  currentCharacter: Character;

  constructor(private _characterService: CharacterService) { }

  ngOnInit() {
    this.characters = this.getCharacters();
  }

  onSelect(character: Character) { this.currentCharacter = character; }

  /////////////////

  getCharacters() {
    this.currentCharacter = undefined;

    return this._characterService.getCharacters();
  }
}
"><input type="hidden" name="files[app/characters.component.css]" value=".characters {list-style-type: none; margin-left: 1em; padding: 0; width: 14em;}
.characters li { cursor: pointer; }
.characters li:hover {color: #369; background-color: #EEE; }
"><input type="hidden" name="files[app/characters.component.html]" value="<h2>Select a Character</h2>
<ul class=&quot;characters&quot;>
  <li *ngFor=&quot;#character of characters | async&quot; (click)=&quot;onSelect(character)&quot;>
    <span class=&quot;badge&quot;>{{character.id}}</span> {{character.name}}
  </li>
</ul>
<h2 *ngIf=&quot;currentCharacter&quot;>
  {{currentCharacter.name | uppercase}} is my character
</h2>
"><input type="hidden" name="files[styles.css]" value="h2 { color: #444; font-weight: lighter; }
body { margin: 2em; }
body, input[text], button { color: #888; font-family: Cambria, Georgia; }
button {padding: 0.2em; font-size: 14px}
"><input type="hidden" name="files[index.html]" value="<!DOCTYPE html>
<html>
  <head>
    <title>Angular 2 QuickStart</title>
    <script>document.write('<base href=&quot;' + document.location + '&quot; />');</script>
    <link rel=&quot;stylesheet&quot; href=&quot;styles.css&quot;>
    <script src=&quot;https://code.angularjs.org/2.0.0-beta.0/angular2-polyfills.js&quot;></script>
    <script src=&quot;https://code.angularjs.org/tools/system.js&quot;></script>
    <script src=&quot;https://code.angularjs.org/tools/typescript.js&quot;></script>
    <script src=&quot;https://code.angularjs.org/2.0.0-beta.0/Rx.js&quot;></script>
    <script src=&quot;https://code.angularjs.org/2.0.0-beta.0/angular2.dev.js&quot;></script>
    <script src=&quot;https://code.angularjs.org/2.0.0-beta.0/router.dev.js&quot;></script>
    <script src=&quot;https://code.angularjs.org/2.0.0-beta.0/http.dev.js&quot;></script>
    <script>
      System.config({
        transpiler: 'typescript',
        typescriptOptions: { emitDecoratorMetadata: true },
        packages: {'app': {defaultExtension: 'ts'}}
      });
      System.import('app/boot')
            .then(null, console.error.bind(console));
    </script>
  </head>

  <body>
    <my-app>Loading...</my-app>
  </body>
</html>
"><input type="hidden" name="files[license.md]" value="Copyright 2016 JohnPapa.net, LLC. http://johnpapa.net

Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   [http://www.apache.org/licenses/LICENSE-2.0](http://www.apache.org/licenses/LICENSE-2.0)

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License."><input type="hidden" name="tags[0]" value="angular2"><input type="hidden" name="tags[1]" value="example"><input type="hidden" name="tags[2]" value="tutorial"><input type="hidden" name="tags[3]" value="modules"><input type="hidden" name="private" value="true"><input type="hidden" name="description" value="Angular 2 First Look Example - Modules"></form><script>document.getElementById("mainForm").submit();</script></body></html>